<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Viberr{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="{% url 'music:index' %}">Viberr</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'music:index' %}"><i class="fas fa-compact-disc"></i>&nbsp;&nbsp; Albums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-music"></i>&nbsp;&nbsp; Songs</a>
                </li>
            </ul>

            <div class=" ml-auto flex-grow-0">
                <form class="form-inline" action="#">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-success  mt-2 mt-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    {% block body %}
    {% endblock %}


</body>
</html>